.theme-default-content {
  & > hr {
    clear: both;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  img {
    border-radius: 8px;
  }

  code {
    padding: 0.25rem;
    color: var(--c-text-light);
  }
}

.theme-container.theme-container--wide {
  .theme-default-content {
    max-width: 960px;
  }
}

.spacer {
  flex-grow: 1 !important;
}

.d-none {
  display: none !important;
}

@media (min-width: 800px) {
  .d-sm-block {
    display: block !important;
  }
}

.mb-0 {
  margin-bottom: 0 !important;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center !important;
}

.justify-space-between {
  justify-content: space-between !important;
}
