:root {
  --c-brand: #e91e63;
  --c-brand-light: #ec407a;
}

html.dark {
  // brand colors
  --c-brand: #e91e63;
  --c-brand-light: #ec407a;
}

.theme-container.theme-container--wide {
  .theme-default-content {
    max-width: 960px;
  }
}
